[Unit]
Description=Kubectl Port Forward 8022
Wants=network-online.target
After=network-online.target

[Service]
User=vagrant
Group=vagrant
Type=simple
ExecStart=/bin/bash -c "kubectl port-forward service/gitlab -n gitlab --address 192.168.200.201 8022:22"
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
